
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

a {
  color: #00F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
    grid-area:nav;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    z-index:20;
  background:rgba(0, 0, 0, 0.8);
  box-shadow:inset 0px -1px 2px 0px rgba(255, 255, 255, .8);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  }
  nav a {
    display: block;
    padding:10px 3%;
    margin:0 1%;
    max-height:20px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:16px;
  }
  
  nav a:hover {
    background:rgba(230, 230, 230, 0.7);
  box-shadow:inset 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
  color: black;
  }





  #welcome {
    position:relative;
    height:100vh;
    top:0;
    left:0;
    text-align:center;
    background-color: #444;

    


  }

  #welcome-text {
    position: absolute;
    width: 480px;
    max-width: 100%;
    top: 35vh;
    left: 50%;
    margin-left: -240px;
    z-index: 100;
    color: #fff;
    text-shadow: 2px 2px 4px #000, -2px 2px 4px #000, 2px -2px 4px #000, -2px -2px 4px #000,
    2px 2px 4px #000, -2px 2px 4px #000, 2px -2px 4px #000, -2px -2px 4px #000;

  }

  #welcome-background {
    background-image: url('../images/PIA17256~medium.jpg');
    background-size: cover; 
    background-position: center;
    filter: blur(5px) brightness(50%);
    -webkit-filter: blur(5px) brightness(50%);
    z-index: 99;
    height: 100vh;
    
  }

  .bg-image {
    /* The image used */
    background-image: url("photographer.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#about, #portfolio, #contact {
  padding: 40px 5vw 5vh;
  margin-top:-40px;
  max-width: 1300px;

}

.about-image {
  float: right;
  max-width: 200px;
  display: block;
  border:3px solid green;
  border-radius:5%;
  margin: 0 5%;
}


.more-or-less {
  text-align: right;
  color: #00F;
  size: .9;
  text-decoration: none;
  margin: 0 5%;
}

.more-or-less:hover {
  text-decoration: underline;
  cursor: pointer;
}


.tech-icon {
  margin: 0 3px 0 0;
}

.tech-icon img {
    width: 12px;
    height: 12px;
    margin: 0 3px;
}
 .blackbg {
  background-color: black;
 }


#projects {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
  }

.project {
    width: 300px;
    max-width: 300px;
    border:1px solid rgb(82, 82, 82);
    border-radius:2%;
    padding: 0vh 1vw 1vh;
    margin: 2vh 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: #fff;
}

.project:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.project-image {
    display: block;
    max-width: 80%;
    border:3px solid green;
    border-radius:5%;
    margin:0 auto;
}

#modal {
  display: none;
  position: fixed;
  /*top: 10vh;
  left: 5vw;
  height: 75vh;
  width: 80vw;*/
  top: 10%;
  left: 5%;
  height: 75%;
  width: 80%;
  max-width: 1300px;
  background: white;
  border: solid 1px #000;
  z-index: 1000;

  padding: 5vh 5vw 0 5vw;
  border-radius:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 40px 0 rgba(0, 0, 0, 0.8);

  overflow: auto;
}

#x {
  position: sticky;
  top: 0px;
float: right;
background-color: white;
border-radius: 50%;
padding: 10px;
}
#x a {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: red;
  cursor: pointer;
}

.modal-links {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  float: inline-end;
  left: 6%;
  bottom: 0px;
  width: 100%;
  background-color: white;
}



.modal-links a {
    display: block;
    padding:10px;
    width:100%;
    max-height:20px;
    color:blue;
    font-weight:bold;
    font-size:16px;
    text-decoration: none;
    position: relative;
  
  }
  
  .modal-links a:hover {
    text-decoration: underline;
  }

  .modal-image {
    float: right;
    max-width: 300px;
    max-height: 225px;
    display: block;
    border:3px solid green;
    border-radius:5%;
    padding: 1% 0;
    margin: 1% 1%;
  }


#bugs, #calculator, #soundboard, #choropleth, #treemap, #pomodoro, #about-more, #mixtape, #weatherthis {
  display: none;
}



@media only screen and (max-width: 480px) {
  .project {
    width: 300px;
    max-width: 300px;
} 

#modal {
  height: 95%;
  width: 90%;
  max-width: 90%;
  top: 0;
  left: 0;
  border-radius:0;
}


.modal-links a {
  display: block;
  padding:10px 3%;
  width:100%;
  overflow: hidden;
}
.modal-image {
  float: none;
  margin: 1% auto;
}
#welcome-text {
left:0;
margin-left: 0;
}

}

@media only screen and (min-width: 1300px) {

#about, #portfolio, #contact {
  
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

}